<div>

    <form [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
        <div class="form-container">
            <div class="medium-2 columns">
                <h3>Search</h3>

                <label>From<input type="datetime" formControlName="from"></label>

                <label>To<input type="datetime" formControlName="to"></label>

                <input type="submit" class="button expanded" value="Search" [disabled]="!formGroup.valid">
            </div>
        </div>
    </form>

    <div *ngIf="!pass; else resultBestPass">

        <div *ngIf="searching">Searching...</div>

        <div *ngFor="let error of errors">
            <div style="color:red;">
                Error in field {{ error }}
            </div>
        </div>

    </div>

</div>

<ng-template #resultBestPass>
    <div class="form-container">
        <div class="medium-2 columns">
            <h3>Best pass</h3>
            <p>ID: {{ pass.id }}</p>
            <p>Name: {{ pass.name }}</p>
            <p>Price: {{ pass.price }}</p>
            <p>Duration: {{ pass.duration }}</p>
        </div>
    </div>
</ng-template>
